h1 {
    text-align: center;
}

h2{
    text-align: center;
}

.tile {
    height: 33%;
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#board {
    width: 210px;
    height: 210px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button{
    display: flex;
    margin: 0 auto;
    background-color: chartreuse;
    text-align: center;
    justify-content: center;
    padding: 10px 24px;
    border-radius: 5px;
}

#leaderboard{
    display: flex;
    margin: 0 auto;
    background-color: chartreuse;
    text-align: center;
    justify-content: center;
    padding: 10px 24px;
    border-radius: 5px;
}

table {
    display: flex;
    margin: 0 auto;
    background-color: chartreuse;
    text-align: left;
    justify-content: center;
    padding: 10px 24px;
    border-radius: 5px;
    border: 1px solid;
}

